.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #2b2d2f;
}

.NavbarItems {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    z-index: 90;
}

.company-block {
    display: flex;
    flex: 1;
}

.navbar-logo {
    cursor: pointer;
    text-decoration: none;
}

.company-name {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Bubblegum Sans', sans-serif;
    margin: 0px 0px 0px 30px;   
}

.wando {
    color:#c31b30;
    text-shadow: 2px 2px 2px #ffffff;
    font-size: 40px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex: 2;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 50px;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
    padding: 10px 0px;
}

.nav-link:hover {
    transition: all 0.3s ease-out;
    color:#c31b30;
    border-bottom: 3px #c31b30 solid;
}

.bar {
    color: #ffffff;
    font-size: 20px;
}

.menu-icon {
    display: none;
}

.cart-quantity {
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#ffffff;
    flex: 1;
}

.cart-icon {
    color: #c31b30;
    border: none;
    font-size: 30px;
    animation: cart 1.5s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

.cart-btn {
    border: none;
    background: transparent;
}

.quantity {
    margin-right: 30px;
}

@keyframes cart {
    0% {
      transform: translateY(-3px);
    }
  
    100% {
      transform: translateY(3px);
    }
  }


@media screen and (max-width: 1200px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:  370px;
        position: absolute;
        top: 80px;
        left: -100%;
        transition: all 0.5s ease;
        background: #2b2d2f;
        z-index: 10;
        opacity: 0;
        padding: 0px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        padding: 0px;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 32px;
        cursor: pointer;
    }

    .quantity {
        margin-right: 45px;
    }
}

@media screen and (max-width: 1100px) {
    .quantity {
        margin-right: 80px;
    }
}

@media screen and (max-width: 540px) {
    .company-name {
        font-size: 20px;
    }

    .wando {
        font-size: 30px;
    }

    .cart-icon {
        font-size: 25px;
    }

    .nav-list {
        gap: 20px;
    }

    .quantity {
        margin-right: 65px;
    }
}