body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 5;
}

.scroll-to-top button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .3s;
  opacity: .7;
}

.scroll-to-top button:hover{
  opacity: 1;
}

.topBtn-icon {
  font-size: 40px;
  color:#ffffff;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.6);
}

h1 {
  font-family: 'Bubblegum Sans', sans-serif;
  font-size: 80px;
  margin: 0px 5px 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 24px #000000;
  letter-spacing: 2px;
}

.fish-icon {
  filter:drop-shadow(2px 2px 8px #000000);
}

h2 {
  text-transform: uppercase;
  text-shadow: 2px 2px 24px #000000;
}

.promo-btn {
  background: #c31b30;
  color:#ffffff;
  border: none;
  padding: 15px 45px;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 15px;
}

.promo-btn:hover {
  background: #91000F;
}

.container {
  padding: 50px 200px 0px;
  background-color: #000000;
}

.line, .quantity-control, .cart-btnGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-btnGroup {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  width: 100%;
}

h3 {
  font-size: 40px;
}

.categoryBtn {
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  flex: 1;
}

.categoryButtonSelected {
  color: #b7b729;
  background: #2b2d2f;
}

.categoryButton:hover, .dish-name:hover {
  color: #b7b729;
}

.categoryButton {
  background: #45484F;
}

.all-dishes, .footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dish {
  width: 300px;
  height: 570px;
  border: 1px solid grey;
  padding: 20px;
  margin: 10px;
}

.dish:hover {
  border: 1px solid #b7b729;
}

.dish-image {
  width: 100%;
  transition: 0.4s all ease-in;
}

.dish-image:hover {
  transform: scale(1.1);
  transition: 0.4s all ease-in;
}

.dish-name, .dish-price, .total-price, .dishNameInCart {
  font-size: 23px;
  font-weight: bold;
}

.total-price {
  margin: 8px 0px;
}

.dish-ingredients {
  color:#777A7C;
  font-weight: bold;
  height: 50px;
}

.addedPortions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addedQuantity {
  margin: 0px 10px;
  font-size: 20px;
  font-weight: bold;
}

.addDeleteBtn {
  padding: 10px;
  font-size: 20px;
  color:#ffffff;
  background: transparent;
  border: none;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addToCartBtn {
  width: 100%;
  color:#ffffff;
  background: #000000;
  border: 1px solid #b7b729;
}

.btn {
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

.addToCartBtn:hover, .addDeleteBtn:hover {
  background: #b7b729;
}

.label {
  display: flex;
  align-items: center;
  position: relative;
}

.height {
  min-height: 87vh;
}

.cart-page {
  margin: 60px 10px 50px;
}

.flex-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.cart-image {
  width: 40%;
  margin-top: 30px;
}

.your-cart {
    color: #c31b30;
    border: none;
    font-size: 30px;
    margin-right: 10px;
}

.padding {
  padding: 0px 20px;
}

.space-evenly {
  display: flex;
  align-items: center;
  gap: 50px;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0px;
}

.cartDish-image, .dishNameInCart, .cart-price, .changeCartQuantity {
  flex: 1;
}

.cartDish-image {
  width: 180px;
}

.dish-image {
  width: 100%;
}

.trash-bin {
  cursor: pointer;
}

.changeQuantity {
  display: flex;
  align-items: center;
}

.trash-bin:hover {
  color: #c31b30;
}


.clear-cart {
  font-size: 18px;
  color:#b7b729;
  text-decoration: underline;
  margin-bottom: 80px;
  cursor: pointer;
}

.backToMenu-btn {
  width: 200px;
  font-weight: bold;
  color:#ffffff;
  background: #000000;
  border: 1px solid #b7b729;
}

.backToMenu-btn:hover {
  background: rgba(183, 183, 41, 0.7);
}

.payment-btn {
  width: 200px;
  font-weight: bold;
  color:#000000;
  background: #b7b729;
  border: 1px solid #b7b729;
}

.payment-btn:hover {
  background: #D4D43F;
}

.padding {
  padding: 20px 5px 0px;
}

.padding-top, .padding-topAmount {
  padding: 50px 0px 30px;
}

.deliveryTerms-heading {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.delivery-terms {
  color:#777A7C;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 5px 18px;
}

.delivery-icon {
  color:#c31b30;
  font-size: 70px;
}

.delivery-tabs {
  margin: 80px 5px;
}

.white {
  color: #ffffff;
  font-weight: normal;
}

.footer-container {
  background: #2b2d2f;
  padding: 0px 0px 30px;
  background-image: url("../src/assets/footer-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-icon {
  color: #ffffff;
  margin: 40px 15px;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.footer-icon:hover, .form-btn:hover {
  color: #91000F;
  border: 2px solid #91000F;
  transition: 0.5s all ease-in-out;
}

.top-margin {
  margin-top: 0px;
}

.form-margin {
  margin: 0px 0px 40px;
  gap: 20px;
  flex-wrap: wrap;
}

.link-header, .link-name, .font {
  font-size: 18px;
  font-weight: bold;
}

.form-label {
  color:#c31b30;
  font-size: 20px;
  font-weight: bold;
  transform: scale(1);
	animation: pulse 2s infinite;
  text-align: center;
}

.form-input {
  padding: 7px 10px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  width: 300px;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.form-btn {
  padding: 7px 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.link-name {
  text-decoration: none;
  color:#777A7C
}

.link-name:hover {
  color: #91000F;
  transition: 0.5s all ease-in-out;
}

.link-margin {
  margin: 5px 0px;
}

.column-links {
  display: flex;
  flex-direction: column;
}

.address-icon {
  margin-right: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  color:#777A7C;
  background: #181a1b;
}

.padding-bottom {
  padding-bottom: 80px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

@media screen and (max-width: 1020px) {
  .space-evenly {
    gap: 20px;
  }

  .cartDish-image {
    width: 150px;
  }
}


@media screen and (max-width: 820px) {
  .line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .categoryBtn {
    margin: 10px;
  }

  .container {
    padding: 50px 100px 0px;
  }

  .dish {
    width: 250px;
    height: 520px;
    margin: 5px;
  }

  .padding-top {
    padding-top: 35px;
  }
}

@media screen and (max-width: 765px) {
  .space-evenly {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 90vw;
  }

  
.more-margin {
  margin: 10px 0px 2px;
}

  .trash-bin {
    margin: 15px 0px 10px;
  }

  .cart-price {
    margin: 0px 0px 10px;
  }
}

@media screen and (max-width: 540px) {
  .scroll-to-top {
    right: 10px;
    bottom: 20px;
  }

  .topBtn-icon {
    font-size: 30px;
    color:#ffffff;
  }

  h1 {
    font-size: 50px;
  }

  .fish-icon {
    width: 70px;
  }

  h2 {
    font-size: 22px;
    padding: 0px 5px;
  }

  .container {
    padding: 30px 10px 0px;
  }

  .delivery-icon {
    font-size: 50px;
  }

  .delivery-tabs {
    margin: 50px 5px;
  }

  .form-input {
    width: 200px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column-links {
    text-align: center;
    padding: 10px 0px;
  }

  .link-header, .link-margin, .link-name {
    font-size: 16px;
  }

  .cart-image {
    width: 40%;
  }

  .cart-btnGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}